##################################################################
# Original
##################################################################
.DS_Store
.idea
package-lock.json
/node_modules

##################################################################
# Added
##################################################################

# Dotenv file
.env*

# VS code files
.vscode

# Migrations results
.npmrc
